# BLOC 4 : Analyse du Marché Immobilier - Département de l'Ain (6 heures)

La Direction Départementale des Territoires (DDT) de l'Ain vous a recruté en tant que Data Analyst pour créer un tableau de bord interactif destiné aux collectivités locales et aux professionnels de l'immobilier. Ce tableau de bord servira à mieux comprendre les dynamiques du marché immobilier local et à orienter les politiques d'aménagement du territoire.

La DDT dispose d'une base de données exhaustive des transactions immobilières (données DVF - Demandes de Valeurs Foncières) couvrant les trois dernières années. Ces données comprennent :

* Informations sur la transaction
  - Identifiant unique
  - Date de mutation
  - Nature de la mutation
  - Valeur foncière (prix de vente)

* Localisation précise du bien
  - Adresse complète (numéro, type de voie, nom de voie)
  - Code postal
  - Commune
  - Code département
  - Références cadastrales (section, numéro de plan)

* Caractéristiques du bien
  - Type de local (appartement, maison, dépendance)
  - Surface réelle bâtie
  - Nombre de pièces principales
  - Surface Carrez (pour les copropriétés)
  - Nature et surface du terrain
  - Nombre de lots

Votre mission est de créer un tableau de bord interactif complet qui permettra aux utilisateurs d'analyser :

* L'évolution des prix
  - Prix moyen par commune
  - Prix au m² par type de bien
  - Tendances temporelles des transactions

* La typologie des biens
  - Répartition par type de local
  - Distribution des surfaces
  - Analyse des terrains non bâtis

* Les dynamiques territoriales
  - Nombre de transactions par commune
  - Cartographie des prix
  - Identification des zones de tension

Le tableau de bord devra répondre à des questions stratégiques telles que :

* Quelles sont les communes les plus dynamiques en termes de transactions ?
* Comment évoluent les prix selon les typologies de biens ?
* Existe-t-il des disparités significatives entre les différents secteurs du département ?
* Quel est le profil type des biens vendus par commune ?
* Quelles sont les tendances du marché des terrains non bâtis ?

En complément du tableau de bord, vous devrez produire :

1. Une méthodologie détaillée de traitement des données
   - Nettoyage des valeurs aberrantes
   - Harmonisation des types de biens
   - Traitement des données cadastrales

2. Une analyse approfondie incluant
   - Les tendances majeures du marché
   - Les spécificités territoriales identifiées
   - Les recommandations pour les politiques locales de l'habitat

3. Un guide d'utilisation destiné aux utilisateurs finaux
   - Présentation des différentes fonctionnalités
   - Exemples de cas d'usage
   - Précautions d'interprétation

Ce projet permettra aux acteurs locaux de :
- Mieux comprendre les dynamiques du marché immobilier local
- Adapter les politiques d'urbanisme aux réalités du territoire
- Anticiper les évolutions du marché
- Identifier les zones nécessitant une attention particulière

Points d'attention particuliers :
- La qualité variable des données cadastrales
- La nécessité de croiser les données avec d'autres sources (PLU, zonages...)
- L'importance de la dimension temporelle dans l'analyse
- La confidentialité des données individuelles

Votre analyse devra être accessible aux non-spécialistes tout en conservant la rigueur nécessaire à la prise de décision.

## Données 2024 (1er semestre)

In [1]:
import pandas as pd

df_2024 = pd.read_csv('https://www.data.gouv.fr/fr/datasets/r/1dc47de2-b30a-4497-b9ef-448d054b5a4f',
                 sep='|',                # Séparateur |
                 encoding='latin-1',     # Encodage pour les caractères français
                 compression='zip',      # Spécifie que c'est un fichier zip
                 low_memory=False)       # Pour éviter les warnings de memory

df_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1566643 entries, 0 to 1566642
Data columns (total 43 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Identifiant de document     0 non-null        float64
 1   Reference document          0 non-null        float64
 2   1 Articles CGI              0 non-null        float64
 3   2 Articles CGI              0 non-null        float64
 4   3 Articles CGI              0 non-null        float64
 5   4 Articles CGI              0 non-null        float64
 6   5 Articles CGI              0 non-null        float64
 7   No disposition              1566643 non-null  int64
 8   Date mutation               1566643 non-null  object
 9   Nature mutation             1566643 non-null  object
 10  Valeur fonciere             1549589 non-null  object
 11  No voie                     946773 non-null   float64
 12  B/T/Q                       67087 non-null    object
 13  Type de voie                912892 non-null   object
 14  Code voie                   1558442 non-null  object
 15  Voie                        1558411 non-null  object
 16  Code postal                 1558158 non-null  float64
 17  Commune                     1566643 non-null  object
 18  Code departement            1566643 non-null  object
 19  Code commune                1566643 non-null  int64
 20  Prefixe de section          75237 non-null    float64
 21  Section                     1566597 non-null  object
 22  No plan                     1566643 non-null  int64
 23  No Volume                   3625 non-null     object
 24  1er lot                     464225 non-null   object
 25  Surface Carrez du 1er lot   135310 non-null   object
 26  2eme lot                    147516 non-null   object
 27  Surface Carrez du 2eme lot  45120 non-null    object
 28  3eme lot                    25067 non-null    object
 29  Surface Carrez du 3eme lot  4970 non-null     object
 30  4eme lot                    7720 non-null     object
 31  Surface Carrez du 4eme lot  1116 non-null     object
 32  5eme lot                    3017 non-null     float64
 33  Surface Carrez du 5eme lot  320 non-null      object
 34  Nombre de lots              1566643 non-null  int64
 35  Code type local             879876 non-null   float64
 36  Type local                  879876 non-null   object
 37  Identifiant local           0 non-null        float64
 38  Surface reelle bati         878849 non-null   float64
 39  Nombre pieces principales   878849 non-null   float64
 40  Nature culture              1095453 non-null  object
 41  Nature culture speciale     73429 non-null    object
 42  Surface terrain             1095453 non-null  float64
dtypes: float64(16), int64(4), object(23)
memory usage: 514.0+ MB

In [2]:
df_2024['Annee']=2024
df_2024.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,Annee
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2024,Vente,...,0,NaN,NaN,NaN,NaN,NaN,P,NaN,99.0,2024
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,03/01/2024,Vente,...,0,NaN,NaN,NaN,NaN,NaN,S,NaN,115.0,2024
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,08/01/2024,Vente,...,0,NaN,NaN,NaN,NaN,NaN,S,NaN,497.0,2024
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2024,Vente,...,2,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN,2024
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2024,Vente,...,2,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN,2024

## Données 2023 (Année complète)

In [3]:
df_2023 = pd.read_csv('https://www.data.gouv.fr/fr/datasets/r/dd516f7a-91bb-4cad-a63c-4b55cd457f4c',
                 sep='|',                # Séparateur |
                 encoding='latin-1',     # Encodage pour les caractères français
                 compression='zip',      # Spécifie que c'est un fichier zip
                 low_memory=False)       # Pour éviter les warnings de memory

df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799407 entries, 0 to 3799406
Data columns (total 43 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Identifiant de document     float64
 1   Reference document          float64
 2   1 Articles CGI              float64
 3   2 Articles CGI              float64
 4   3 Articles CGI              float64
 5   4 Articles CGI              float64
 6   5 Articles CGI              float64
 7   No disposition              int64
 8   Date mutation               object
 9   Nature mutation             object
 10  Valeur fonciere             object
 11  No voie                     float64
 12  B/T/Q                       object
 13  Type de voie                object
 14  Code voie                   object
 15  Voie                        object
 16  Code postal                 float64
 17  Commune                     object
 18  Code departement            object
 19  Code commune                int64
 20  Prefixe de section          float64
 21  Section                     object
 22  No plan                     int64
 23  No Volume                   object
 24  1er lot                     object
 25  Surface Carrez du 1er lot   object
 26  2eme lot                    object
 27  Surface Carrez du 2eme lot  object
 28  3eme lot                    object
 29  Surface Carrez du 3eme lot  object
 30  4eme lot                    float64
 31  Surface Carrez du 4eme lot  object
 32  5eme lot                    object
 33  Surface Carrez du 5eme lot  object
 34  Nombre de lots              int64
 35  Code type local             float64
 36  Type local                  object
 37  Identifiant local           float64
 38  Surface reelle bati         float64
 39  Nombre pieces principales   float64
 40  Nature culture              object
 41  Nature culture speciale     object
 42  Surface terrain             float64
dtypes: float64(16), int64(4), object(23)
memory usage: 1.2+ GB

In [4]:
df_2023['Annee']=2023
df_2023.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,Annee
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2023,Vente,...,1,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN,2023
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2023,Vente,...,1,2.0,Appartement,NaN,233.0,8.0,NaN,NaN,NaN,2023
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2023,Vente,...,1,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN,2023
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2023,Vente,...,0,1.0,Maison,NaN,64.0,3.0,S,NaN,988.0,2023
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2023,Vente,...,0,1.0,Maison,NaN,73.0,3.0,S,NaN,835.0,2023

## Données 2022 (Année complète)

In [5]:
df_2022 = pd.read_csv('https://www.data.gouv.fr/fr/datasets/r/91fd9f09-fe6f-4ab2-9803-84a626e1faa6',
                 sep='|',                # Séparateur |
                 encoding='latin-1',     # Encodage pour les caractères français
                 compression='zip',      # Spécifie que c'est un fichier zip
                 low_memory=False)       # Pour éviter les warnings de memory

df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4667090 entries, 0 to 4667089
Data columns (total 43 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Identifiant de document     float64
 1   Reference document          float64
 2   1 Articles CGI              float64
 3   2 Articles CGI              float64
 4   3 Articles CGI              float64
 5   4 Articles CGI              float64
 6   5 Articles CGI              float64
 7   No disposition              int64
 8   Date mutation               object
 9   Nature mutation             object
 10  Valeur fonciere             object
 11  No voie                     float64
 12  B/T/Q                       object
 13  Type de voie                object
 14  Code voie                   object
 15  Voie                        object
 16  Code postal                 float64
 17  Commune                     object
 18  Code departement            object
 19  Code commune                int64
 20  Prefixe de section          float64
 21  Section                     object
 22  No plan                     int64
 23  No Volume                   object
 24  1er lot                     object
 25  Surface Carrez du 1er lot   object
 26  2eme lot                    object
 27  Surface Carrez du 2eme lot  object
 28  3eme lot                    object
 29  Surface Carrez du 3eme lot  object
 30  4eme lot                    float64
 31  Surface Carrez du 4eme lot  object
 32  5eme lot                    float64
 33  Surface Carrez du 5eme lot  object
 34  Nombre de lots              int64
 35  Code type local             float64
 36  Type local                  object
 37  Identifiant local           float64
 38  Surface reelle bati         float64
 39  Nombre pieces principales   float64
 40  Nature culture              object
 41  Nature culture speciale     object
 42  Surface terrain             float64
dtypes: float64(17), int64(4), object(22)
memory usage: 1.5+ GB

In [6]:
df_2022['Annee']=2022
df_2022.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,Annee
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,1,2.0,Appartement,NaN,24.0,1.0,NaN,NaN,NaN,2022
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,0,NaN,NaN,NaN,NaN,NaN,S,NaN,84.0,2022
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,0,NaN,NaN,NaN,NaN,NaN,S,NaN,88.0,2022
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,1,2.0,Appartement,NaN,140.0,3.0,NaN,NaN,NaN,2022
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2022,Vente,...,0,NaN,NaN,NaN,NaN,NaN,T,NaN,510.0,2022

In [22]:
df_total = pd.concat([df_2022, df_2023, df_2024])
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10033140 entries, 0 to 1566642
Data columns (total 44 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Identifiant de document     float64
 1   Reference document          float64
 2   1 Articles CGI              float64
 3   2 Articles CGI              float64
 4   3 Articles CGI              float64
 5   4 Articles CGI              float64
 6   5 Articles CGI              float64
 7   No disposition              int64
 8   Date mutation               object
 9   Nature mutation             object
 10  Valeur fonciere             object
 11  No voie                     float64
 12  B/T/Q                       object
 13  Type de voie                object
 14  Code voie                   object
 15  Voie                        object
 16  Code postal                 float64
 17  Commune                     object
 18  Code departement            object
 19  Code commune                int64
 20  Prefixe de section          float64
 21  Section                     object
 22  No plan                     int64
 23  No Volume                   object
 24  1er lot                     object
 25  Surface Carrez du 1er lot   object
 26  2eme lot                    object
 27  Surface Carrez du 2eme lot  object
 28  3eme lot                    object
 29  Surface Carrez du 3eme lot  object
 30  4eme lot                    object
 31  Surface Carrez du 4eme lot  object
 32  5eme lot                    object
 33  Surface Carrez du 5eme lot  object
 34  Nombre de lots              int64
 35  Code type local             float64
 36  Type local                  object
 37  Identifiant local           float64
 38  Surface reelle bati         float64
 39  Nombre pieces principales   float64
 40  Nature culture              object
 41  Nature culture speciale     object
 42  Surface terrain             float64
 43  Annee                       int64
dtypes: float64(15), int64(5), object(24)
memory usage: 3.4+ GB

In [23]:
#Je cherche les valeurs manquantes
df_total.isna().sum()

Identifiant de document       10033140
Reference document            10033140
1 Articles CGI                10033140
2 Articles CGI                10033140
3 Articles CGI                10033140
4 Articles CGI                10033140
5 Articles CGI                10033140
No disposition                       0
Date mutation                        0
Nature mutation                      0
Valeur fonciere                  82580
No voie                        3740738
B/T/Q                          9585062
Type de voie                   3978273
Code voie                        70513
Voie                             71059
Code postal                      71231
Commune                              0
Code departement                     0
Code commune                         0
Prefixe de section             9562860
Section                            381
No plan                              0
No Volume                     10010613
1er lot                        6873269
Surface Carrez du 1er lot      9138883
2eme lot                       9057283
Surface Carrez du 2eme lot     9735297
3eme lot                       9859473
Surface Carrez du 3eme lot     9999702
4eme lot                       9978157
Surface Carrez du 4eme lot    10025188
5eme lot                      10009914
Surface Carrez du 5eme lot    10030405
Nombre de lots                       0
Code type local                4154631
Type local                     4154631
Identifiant local             10033140
Surface reelle bati            4161042
Nombre pieces principales      4161042
Nature culture                 3207017
Nature culture speciale        9600114
Surface terrain                3207017
Annee                                0
dtype: int64

In [24]:
#Les colonnes concernent le document et les articles sont toujours vides donc je les supprime
colonnes_a_supprimer = ['Identifiant de document',	'Reference document'	,'1 Articles CGI',	'2 Articles CGI',	'3 Articles CGI','4 Articles CGI','5 Articles CGI']
df_total.drop(columns=colonnes_a_supprimer, inplace=True)
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10033140 entries, 0 to 1566642
Data columns (total 37 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              int64
 1   Date mutation               object
 2   Nature mutation             object
 3   Valeur fonciere             object
 4   No voie                     float64
 5   B/T/Q                       object
 6   Type de voie                object
 7   Code voie                   object
 8   Voie                        object
 9   Code postal                 float64
 10  Commune                     object
 11  Code departement            object
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     object
 15  No plan                     int64
 16  No Volume                   object
 17  1er lot                     object
 18  Surface Carrez du 1er lot   object
 19  2eme lot                    object
 20  Surface Carrez du 2eme lot  object
 21  3eme lot                    object
 22  Surface Carrez du 3eme lot  object
 23  4eme lot                    object
 24  Surface Carrez du 4eme lot  object
 25  5eme lot                    object
 26  Surface Carrez du 5eme lot  object
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  object
 30  Identifiant local           float64
 31  Surface reelle bati         float64
 32  Nombre pieces principales   float64
 33  Nature culture              object
 34  Nature culture speciale     object
 35  Surface terrain             float64
 36  Annee                       int64
dtypes: float64(8), int64(5), object(24)
memory usage: 2.8+ GB

In [25]:
df_total.head()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,Annee
0,1,03/01/2022,Vente,"55000,00",13.0,NaN,RUE,2280,DE LA LIBERTE,1000.0,...,1,2.0,Appartement,NaN,24.0,1.0,NaN,NaN,NaN,2022
1,1,03/01/2022,Vente,"143000,00",NaN,NaN,NaN,B010,CHAMP COCHET,1480.0,...,0,NaN,NaN,NaN,NaN,NaN,S,NaN,84.0,2022
2,1,03/01/2022,Vente,"143000,00",NaN,NaN,NaN,B010,CHAMP COCHET,1480.0,...,0,NaN,NaN,NaN,NaN,NaN,S,NaN,88.0,2022
3,1,03/01/2022,Vente,"143000,00",98.0,NaN,RTE,0055,DE LA DOMBES,1480.0,...,1,2.0,Appartement,NaN,140.0,3.0,NaN,NaN,NaN,2022
4,1,04/01/2022,Vente,"300,00",NaN,NaN,NaN,B031,AUX PIERRES,1480.0,...,0,NaN,NaN,NaN,NaN,NaN,T,NaN,510.0,2022

In [26]:
df_ain = df_total[df_total['Code departement']== '01']

In [35]:
df_clean = df_ain.drop_duplicates()

In [36]:
df_clean = df_clean.dropna(subset=['Type local','Surface terrain'])

In [37]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25288 entries, 5 to 18561
Data columns (total 37 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   No disposition              25288 non-null  int64
 1   Date mutation               25288 non-null  object
 2   Nature mutation             25288 non-null  object
 3   Valeur fonciere             25235 non-null  object
 4   No voie                     25217 non-null  float64
 5   B/T/Q                       1440 non-null   object
 6   Type de voie                21885 non-null  object
 7   Code voie                   25288 non-null  object
 8   Voie                        25288 non-null  object
 9   Code postal                 25288 non-null  float64
 10  Commune                     25288 non-null  object
 11  Code departement            25288 non-null  object
 12  Code commune                25288 non-null  int64
 13  Prefixe de section          1012 non-null   float64
 14  Section                     25288 non-null  object
 15  No plan                     25288 non-null  int64
 16  No Volume                   0 non-null      object
 17  1er lot                     35 non-null     object
 18  Surface Carrez du 1er lot   25 non-null     object
 19  2eme lot                    0 non-null      object
 20  Surface Carrez du 2eme lot  0 non-null      object
 21  3eme lot                    0 non-null      object
 22  Surface Carrez du 3eme lot  0 non-null      object
 23  4eme lot                    0 non-null      object
 24  Surface Carrez du 4eme lot  0 non-null      object
 25  5eme lot                    0 non-null      object
 26  Surface Carrez du 5eme lot  0 non-null      object
 27  Nombre de lots              25288 non-null  int64
 28  Code type local             25288 non-null  float64
 29  Type local                  25288 non-null  object
 30  Identifiant local           0 non-null      float64
 31  Surface reelle bati         25152 non-null  float64
 32  Nombre pieces principales   25152 non-null  float64
 33  Nature culture              25288 non-null  object
 34  Nature culture speciale     255 non-null    object
 35  Surface terrain             25288 non-null  float64
 36  Annee                       25288 non-null  int64
dtypes: float64(8), int64(5), object(24)
memory usage: 7.3+ MB

In [38]:
#je supprime les valeurs aberrantes
colonnes_a_traiter = ['Valeur fonciere','Surface Carrez du 1er lot','Surface Carrez du 2eme lot','Surface Carrez du 3eme lot','Surface Carrez du 4eme lot','Surface Carrez du 5eme lot','Surface reelle bati','Nombre pieces principales','Surface terrain']
for col in colonnes_a_traiter:
  if df_clean[col].dtype =='object' : 
    df_clean[col] = df_clean[col].str.replace(',','.')
    df_clean[col] = df_clean[col].astype(float)

  Q1 =df_clean[col].quantile(0.25)
  Q3 =df_clean[col].quantile(0.75)
  IQR = Q3 -Q1
  valeurs_ab_col =df_clean[(df_clean[col] <(Q1-1.5*IQR)) | (df_clean[col] > (Q3+1.5*(IQR)))]
  df_clean =df_clean.drop(valeurs_ab_col.index, axis=0)
  print(col)
  print(valeurs_ab_col.shape)
  print(df_clean.shape)

Valeur fonciere
(1735, 37)
(23058, 37)
Surface Carrez du 1er lot
(1, 37)
(23057, 37)
Surface Carrez du 2eme lot
(0, 37)
(23057, 37)
Surface Carrez du 3eme lot
(0, 37)
(23057, 37)
Surface Carrez du 4eme lot
(0, 37)
(23057, 37)
Surface Carrez du 5eme lot
(0, 37)
(23057, 37)
Surface reelle bati
(529, 37)
(22387, 37)
Nombre pieces principales
(5, 37)
(22382, 37)
Surface terrain
(1285, 37)
(20726, 37)

In [39]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20726 entries, 5 to 18561
Data columns (total 37 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   No disposition              20726 non-null  int64
 1   Date mutation               20726 non-null  object
 2   Nature mutation             20726 non-null  object
 3   Valeur fonciere             20699 non-null  float64
 4   No voie                     20668 non-null  float64
 5   B/T/Q                       1195 non-null   object
 6   Type de voie                18101 non-null  object
 7   Code voie                   20726 non-null  object
 8   Voie                        20726 non-null  object
 9   Code postal                 20726 non-null  float64
 10  Commune                     20726 non-null  object
 11  Code departement            20726 non-null  object
 12  Code commune                20726 non-null  int64
 13  Prefixe de section          858 non-null    float64
 14  Section                     20726 non-null  object
 15  No plan                     20726 non-null  int64
 16  No Volume                   0 non-null      object
 17  1er lot                     31 non-null     object
 18  Surface Carrez du 1er lot   22 non-null     float64
 19  2eme lot                    0 non-null      object
 20  Surface Carrez du 2eme lot  0 non-null      float64
 21  3eme lot                    0 non-null      object
 22  Surface Carrez du 3eme lot  0 non-null      float64
 23  4eme lot                    0 non-null      object
 24  Surface Carrez du 4eme lot  0 non-null      float64
 25  5eme lot                    0 non-null      object
 26  Surface Carrez du 5eme lot  0 non-null      float64
 27  Nombre de lots              20726 non-null  int64
 28  Code type local             20726 non-null  float64
 29  Type local                  20726 non-null  object
 30  Identifiant local           0 non-null      float64
 31  Surface reelle bati         20686 non-null  float64
 32  Nombre pieces principales   20686 non-null  float64
 33  Nature culture              20726 non-null  object
 34  Nature culture speciale     168 non-null    object
 35  Surface terrain             20726 non-null  float64
 36  Annee                       20726 non-null  int64
dtypes: float64(14), int64(5), object(18)
memory usage: 6.0+ MB

In [40]:
df_clean.loc[df_clean['Code commune'] == 138, 'Commune'] = 'CULOZ-BEON'

df_clean[df_clean['Code commune']==138]['Commune']

831      CULOZ-BEON
899      CULOZ-BEON
900      CULOZ-BEON
4037     CULOZ-BEON
5060     CULOZ-BEON
            ...
14272    CULOZ-BEON
14273    CULOZ-BEON
16099    CULOZ-BEON
16100    CULOZ-BEON
18208    CULOZ-BEON
Name: Commune, Length: 130, dtype: object

In [ ]:
df_clean.to_csv('df_clean1.csv', sep=";", encoding='latin-1',index=False)